<app-navbar></app-navbar>
<div class="section_info">
  <div>
    <p class="first_title">Minimalist Room</p>
  </div>
  <div>
    <p class="first_description">
      It is a long established fact that a reader will be distracted by the
      readable content of a page when looking at its layout.
    </p>
  </div>
  <img
    class="first_section_image"
    src="../../assets/images/homeImg1.png"
    alt="" />
</div>

<div class="third_section">
  <div class="project_overview">
    <h6 class="project_title">Project Overview</h6>
    <p class="project_description">
      Online learning with us does not interfere with your daily life. because
      learning can be done anytime and anywhere. Online learning with us does
      not interfere with your daily life. because learning can be done anytime
      and anywhere. Online learning with us does not interfere with your daily
      life. because learning can be done anytime and anywhere.
    </p>
    <div class="project_info_date">
      <p class="project_date">July 22 - 2022</p>
      <p class="project_type">Interior Design - Furnitur</p>
    </div>
  </div>

  <div class="design_process">
    <h6 class="design_title">Design Process</h6>
    <p class="design_description">
      Online learning with us does not interfere with your daily life. because
      learning can be done anytime and anywhere. Online learning with us does
      not interfere with your daily life. because learning can be done anytime
      and anywhere.
    </p>
    <p class="d_last_description">
      Online learning with us does not interfere with your daily life. because
      learning can be done anytime and anywhere. Online learning with us does
      not interfere with your daily life. because learning can be done anytime
      and anywhere.
    </p>
  </div>
</div>

<div class="images_preview_section">
  <div class="image_first_section">
    <div class="div1">
      <img src="../../assets/images/homeImg2.png" alt="" />
    </div>
    <div class="div2">
      <img src="../../assets/images/homeImg3.png" alt="" />
    </div>
  </div>
  <div class="div3">
    <img src="../../assets/images/homeImg4.png" alt="" />
  </div>
  <div class="image_last_section">
    <div class="div4">
      <img src="../../assets/images/homeImg5.png" alt="" />
    </div>
    <div class="div5">
      <img src="../../assets/images/homeImg6.png" alt="" />
    </div>
  </div>
</div>

<!-- <div>
  <div>
    <div>
      <div>
        <p>let's discuss making your interior like a dream place!</p>
      </div>
      <div>
        <div>
          <p>
            Contact us below to work together to build your amazing interior
          </p>
          <button>Contact Us</button>
        </div>
      </div>
    </div>
  </div>
</div> -->
<app-footer></app-footer>
