<app-navbar></app-navbar>
<div>
  <div>
    <div>
      <div>
        <h3>Minimalist Room</h3>
        <p>
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout.
        </p>
      </div>
    </div>
  </div>
</div>
<div>
  <div>
    <div>
      <div>
        <div>
          <img src="../../assets/images/homeImg1.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <div>
    <div>
      <div>
        <h6>Project Overview</h6>
        <p>
          Online learning with us does not interfere with your daily life.
          because learning can be done anytime and anywhere. Online learning
          with us does not interfere with your daily life. because learning can
          be done anytime and anywhere. Online learning with us does not
          interfere with your daily life. because learning can be done anytime
          and anywhere.
        </p>
        <div>
          <p>July 22 - 2022</p>
          <p>Interior Design - Furnitur</p>
        </div>
      </div>
      <div>
        <h6>Design Process</h6>
        <p>
          Online learning with us does not interfere with your daily life.
          because learning can be done anytime and anywhere. Online learning
          with us does not interfere with your daily life. because learning can
          be done anytime and anywhere.
        </p>
        <p>
          Online learning with us does not interfere with your daily life.
          because learning can be done anytime and anywhere. Online learning
          with us does not interfere with your daily life. because learning can
          be done anytime and anywhere.
        </p>
      </div>
    </div>
    <div>
      <div>
        <div>
          <img src="../../assets/images/homeImg2.png" alt="" />
        </div>
      </div>
      <div>
        <div>
          <img src="../../assets/images/homeImg3.png" alt="" />
        </div>
      </div>
    </div>
    <div>
      <div>
        <div>
          <img src="../../assets/images/homeImg4.png" alt="" />
        </div>
      </div>
    </div>
    <div>
      <div>
        <div>
          <img src="../../assets/images/homeImg6.png" alt="" />
        </div>
      </div>
      <div>
        <div>
          <img src="../../assets/images/homeImg7.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <div>
    <div>
      <div>
        <p>let's discuss making your interior like a dream place!</p>
      </div>
      <div>
        <div>
          <p>
            Contact us below to work together to build your amazing interior
          </p>
          <button>Contact Us</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
