<div class="footer_container">
  <div class="footer_left_section">
    <img src="../../assets/images/dananzLogo.png" alt="dananz" />
    <p>One of the best furniture agency.</p>
  </div>
  <div class="footer_right_section">
    <div class="input_info">
      <img src="../../assets/images/circleIcon.png" alt="" />
      <p>Enter your email to get the latest news</p>
    </div>
    <div class="enter_email">
      <input type="text" placeholder="Email address" />
      <img src="../../assets/images/arrowUpward.png" alt="" />
    </div>
    <div class="social_media">
      <div class="follow_text">
        <p>Follow us On</p>
      </div>
      <div class="social_media_icons">
        <a href="/">
          <img src="../../assets/images/facebook.png" alt="facebook-icon" />
        </a>
        <a href="/">
          <img src="../../assets/images/instagram.png" alt="instagram-icon" />
        </a>
        <a href="/">
          <img src="../../assets/images/tiktok.png" alt="tiktok-icon" />
        </a>
        <a href="/">
          <img src="../../assets/images/youtube.png" alt="youtube-icon" />
        </a>
      </div>
    </div>
  </div>
</div>
