<!-- <div>
  <div>
    <div>
      <div>
        <img src="../../assets/images/dananzLogo.png" alt="dananz" />
        <p>One of the best furniture agency.</p>
      </div>
      <div>
        <p>
          <img src="../../assets/images/circleIcon.png" alt="" /> Enter your
          email to get the latest news
        </p>
        <div>
          <input type="text" placeholder="Email address" />
          <img src="../../assets/images/arrowUpward.png" alt="" />
        </div>
        <hr />
        <div>
          <p>&nbsp;</p>
          <div>
            <p>Follow us On</p>
            <a href="/">
              <img src="../../assets/images/facebook.png" alt="facebook-icon" />
            </a>
            <a href="/">
              <img
                src="../../assets/images/instagram.png"
                alt="instagram-icon" />
            </a>
            <a href="/">
              <img src="../../assets/images/tiktok.png" alt="tiktok-icon" />
            </a>
            <a href="/">
              <img src="../../assets/images/youtube.png" alt="youtube-icon" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
